# HTTP redirect to HTTPS
:80 {
    redir https://{host}:${HTTPS_PORT}{uri} permanent
}

# HTTPS site with self-signed certificate
:443 {
    tls /certs/server.crt /certs/server.key
    reverse_proxy app:${APP_PORT}
}
