{{ template "header.html" . }}

<div class="mw-500 my-16 mx-auto">
  <div class="card border-danger">
    <div class="text-center mb-4">
      <h1 class="text-danger">System Error</h1>
      <i data-lucide="alert-triangle" class="icon-xl text-danger my-4"></i>
    </div>

    <div class="card bg-danger-bg border-none text-danger-fg">
      <p class="whitespace-pre-wrap break-all text-md">{{.error}}</p>
    </div>

    <div class="text-center mt-4">
      <button type="button" class="btn btn-secondary" onclick="history.back()">
        <i data-lucide="arrow-left"></i> Go Back
      </button>
      <a href="/" class="btn btn-primary ml-2">
        <i data-lucide="home"></i> Home
      </a>
    </div>
  </div>
</div>

{{ template "footer.html" . }}