<!DOCTYPE html>
<html>

<head>
  <title>Service Status</title>

  <link rel="stylesheet" href="/static/css/index.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

  <div class="container">
    <h1>Setup Status</h1>

    <p>Username: <span class="ok">{{.username}}</span></p>
    <p>User Id: <span class="ok">{{.user_id}}</span></p>

    <div class="form-section inline-form">
      <form method="POST" action="/sources/setup" id="source_form">
        <input type="hidden" name="user_id" value="{{.user_id}}">
        <select id="network" name="network" required>
          <option value="" disabled selected>Select Network</option>
          <option value="Bluesky">Bluesky</option>
          <option value="Instagram">Instagram</option>
          <option value="TikTok">TikTok</option>
          <option value="Mastodon">Mastodon</option>
          <option value="Murrtube">Murrtube</option>
          <option value="BadPups">BadPups</option>
        </select>
        <input type="text" name="username" placeholder="Username" required>
        <label for="instagram_profile_id" id="instagram_profile_id_label" style="display:none;">Instagram Profile Id</label>
        <input id="instagram_profile_id" name="instagram_profile_id" placeholder="Your Profile Id" style="display:none;">
        <button type="submit">Add Source</button>
      </form>

      <div class="form-section inline-form button-group">

        <form method="GET" action="/">
          <div class="tooltip">
            <button class="refresh">
              <i data-lucide="refresh-cw"></i>
            </button>
            <span class="tooltip-text">Refresh Data</span>
          </div>
        </form>

        <form method="POST" action="/sources/syncAll" style="display:inline;"
          onsubmit="return submitWithConfirm(this);">
          <input type="hidden" name="user_id" value="{{.user_id}}">
          <div class="tooltip">
            <button type="submit" class="refresh">
              <i data-lucide="cloud-sync"></i>
            </button>
            <span class="tooltip-text">Sync All</span>
          </div>
        </form>

        <form method="GET" action="/exports">
          <div class="tooltip">
            <button type="submit" class="sync">
              <i data-lucide="download"></i>
            </button>
            <span class="tooltip-text">Exports</span>
          </div>
        </form>

        <form method="GET" action="/analytics">
          <div class="tooltip">
            <button type="submit" class="sync">
              <i data-lucide="bar-chart-2"></i>
            </button>
            <span class="tooltip-text">Analytics</span>
          </div>
        </form>

        <form method="POST" action="/reset" style="display:inline;"
          onclick="return submitWithConfirm(this, 'Are you sure you want to reset the configuration? Everything will be deleted and this action cannot be undone.');">
          <div class="tooltip">
            <button type="submit" class="fail">
              <i data-lucide="octagon-alert"></i>
            </button>
            <span class="tooltip-text">Reset Configuration</span>
          </div>
        </form>
      </div>
    </div>

    <div class="card">
      <div class="card-header">Sync Sources</div>

      <ul class="source-list">
        {{range .sources}}
        <li class="source-item">

          <div class="source-main">
            <strong>{{.UserName}}</strong>
            <span class="source-network">{{.Network}}</span>
          </div>

          <div class="source-meta">
            <span class="sync-status
  {{if eq .SyncStatus " Initialized"}}status-initialized{{end}} {{if eq .SyncStatus "Syncing" }}status-syncing{{end}}
              {{if eq .SyncStatus "Synced" }}status-synced{{end}} {{if eq .SyncStatus "Failed" }}status-failed{{end}}
              {{if not .IsActive}}status-disabled{{end}}">

              {{if not .IsActive}}
              Disabled<br>
              {{else}}
              {{.SyncStatus}}<br>
              {{end}}

              {{if .StatusReason.Valid}}
              <span class="tooltip">
                ⓘ
                <span>
                  {{.StatusReason.String}}
                </span>
              </span>
              {{end}}
            </span>


            <span class="last-sync">
              <br>
              {{if .LastSynced.Valid}}
              Last sync: {{.LastSynced.Time.Format "2006-01-02 15:04"}}
              {{else}}
              Last sync: never
              {{end}}
            </span>
          </div>

          <div class="source-actions">

            <form method="POST" action="/sources/sync" style="display:inline;"
              onsubmit="return submitWithConfirm(this);">
              <input type="hidden" name="source_id" value="{{.ID}}">

              <div class="tooltip">
                <button type="submit" class="sync" {{if not .IsActive}}disabled{{end}}>
                  <i data-lucide="refresh-cw"></i>
                </button>
              </div>
            </form>

            {{if .IsActive}}
            <form method="POST" action="/sources/deactivate" style="display:inline;"
              onsubmit="return submitWithConfirm(this, 'Deactivate this source?');">
              <input type="hidden" name="source_id" value="{{.ID}}">
              <div class="tooltip">
                <button type="submit" class="fail">
                  <i data-lucide="power-off"></i>
                </button>
              </div>
            </form>
            {{else}}
            <form method="POST" action="/sources/activate" style="display:inline;"
              onsubmit="return submitWithConfirm(this);">
              <input type="hidden" name="source_id" value="{{.ID}}">
              <div class="tooltip">
                <button type="submit" class="ok">
                  <i data-lucide="power"></i>
                </button>
              </div>
            </form>
            {{end}}

            <form method="POST" action="/sources/delete" style="display:inline;"
              onsubmit="return submitWithConfirm(this, 'Delete this source?');">
              <input type="hidden" name="source_id" value="{{.ID}}">
              <div class="tooltip">
                <button type="submit" class="fail">
                  <i data-lucide="trash-2"></i>
                </button>
              </div>
            </form>

          </div>

        </li>
        {{end}}

        {{if not .sources}}
        <p class="fail">No active sources yet.</p>
        {{end}}
      </ul>
    </div>

  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const form = document.getElementById("source_form");
      const networkSelect = document.getElementById("network");
      const profileInput = document.getElementById("instagram_profile_id");
      const profileLabel = document.getElementById("instagram_profile_id_label");

      if (!form || !networkSelect || !profileLabel || !profileLabel) return;

      function updateTokenVisibility() {
        if (networkSelect.value === "Instagram") {
          profileInput.style.display = "block";
          profileLabel.style.display = "block";
          profileInput.required = true;
        } else {
          profileInput.style.display = "none";
          profileLabel.style.display = "none";
          profileInput.required = false;
          profileInput.value = "";
        }
      }

      networkSelect.addEventListener("change", updateTokenVisibility);

      form.addEventListener("submit", function (e) {
        if (networkSelect.value === "Instagram" && tokenInput.value.trim() === "") {
          e.preventDefault();
          alert("Instagram requires an Profile Page id.");
          tokenInput.focus();
        }
      });
    });


  </script>

  <script>
    function submitWithConfirm(form, message) {
      if (message && !window.confirm(message)) {
        return false;
      }

      fetch(form.action, {
        method: form.method,
        body: new FormData(form)
      })
        .then(res => {
          if (res.ok) {
            window.location.reload();
          } else {
            alert("Operation failed");
          }
        })
        .catch(err => {
          console.error(err);
          alert("Error performing operation");
        });

      return false;
    }
  </script>

  <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
  <script>
    lucide.createIcons();
  </script>

</body>

</html>